@import url('https://fonts.googleapis.com/css?family=Lato');
nav {
  /*font-family: 'Lato', sans-serif;*/
}
nav li a {
  color: white;
}
strong h2 {
  font-weight: bolder;
}
.skills {
  margin-left: 15%;
  text-align:left;
  font-size: 24px;
  color: white;
}
.php {
  padding-top: 12px;
}
#home {
  color: #FDD167;
}
#home:hover {
  color: #FFEAB7;
}
.icon-bar {
  background-color: #FDD167;
}
.row {
  margin-bottom: 15px;
  text-align: center;
}

.row .btn {
  margin-top: -15px;
}
.nav-pills {
  /*font-family: 'Bitter', serif;*/
  font-weight: 100 !important;
  background-color: black;
  opacity: 0.9;
}
nav, #home {
  font-size: xx-large;
}
h3 {
  text-shadow: 1px 1px 5px black;
}
body {
  font-family: lobster;
  background-color: white;
}

#face {
  border-radius: 50%;
  width: 300px;
}

.pageOne {
  padding-top: 200px;
  background: url("../images/epic.jpg");
  background-size: cover;
  background-position: center;
  height: 775px;
}
.whatup {
  padding-bottom: 36px;
  padding-top: 18px;
  background-color: #71ACC0;
}
.pageTwo {
  background-color: #2B758E;
  background-size: cover;
  padding: 50px 0px 50px 0px;
}

.pageThree {
  padding: 50px 0px 50px 0px;
}

.pageFour {
  background-color: #5363AD;
  background-size: cover;
  padding: 50px 0px 100px 0px;
}

.footer {
  background-color: black;
  background-size: cover;
  padding: 15px 0px 15px 0px;
}

h3 {
  color: white;
}

.white {
  color: white;
}

p {
  font-size: 24px;
}

.copyright {
  color: #e6e6e6;
}

.row {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.caption-style{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.caption-style .project{
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.caption-style .project:hover .caption{
  opacity: 1;
}
.caption-style img{
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}
.caption-style .caption{
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition:all 0.45s ease-in-out;
  -moz-transition:all 0.45s ease-in-out;
  -o-transition:all 0.45s ease-in-out;
  -ms-transition:all 0.45s ease-in-out;
  transition:all 0.45s ease-in-out;
}
.caption-style .blur{
  background-color: rgba(0,0,0,0.65);
  height: 300px;
  width: 400px;
  z-index: 5;
  position: absolute;
}
.caption-style .caption-text h1{
  text-transform: uppercase;
  font-size: 24px;
}
.project .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 400px;
  height: 300px;
  text-align: center;
  top:100px;
}
.screenshot {
    width: 300px;
    height: 200px;
    z-index: 4;
}
.pageTwo, .pageThree, .pageFour, .footer {
  font-family: 'Cormorant Garamond', serif;
}
.nav, #home {
  letter-spacing: 1.5px;
}
